# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# Export bullshit.
/* export-ignore
/addons/ !export-ignore
/addons/clipmap/ !export-ignore
/addons/clipmap/* !export-ignore
/addons/clipmap/rust/ export-ignore
/addons/clipmap/rust/** export-ignore
# LFS bullshit.
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
